/* Root variables */
:root {
    --primary-color:               #dc143c; /* Crimson red */
    --background-color:            #121212; /* Dark theme retained */
    --header-color:                #1f1f1f; /* Slightly darker header */
    --header-light-color:          #292929; /* Lighter but still dark */
    --text-primary-color:          #ffffff; /* White text */
    --text-secondary-color:        #b1b1b1; /* Monochromatic text color retained */
    --text-shadow-color:           #797979; /* Monochromatic text color retained */
    --text-primary-shadow-color:   #bb3030; /* Dark unsaturated red */
    --accent-color:                #e3345a; /* Crimson red accent */
    --background-primary-color:    #261b1c; /* Dark theme retained */
    --background-dark-color:       #2f2327; /* Dark theme retained */
    --background-highlight-color:  #3d2e30; /* Dark theme retained */
}

/* File behavior */
html {
    scroll-behavior: smooth;
}

/* Anchor settings for good scroll */
.anchor {
    position: relative;
    top: -40px;
}

/* Set the default styles */
body, h1, h2, h3, h4, h5, h6, p, a, ul, ol, li {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--text-secondary-color);
    text-shadow: var(--text-shadow-color) 0px 0px 2px;
}

/* Horizontal rule styling */
hr {
    max-width: 60%;
}

/* Paragraph styling */
p {
    font-size: medium;
    margin-bottom: 10px; /* Space after paragraph */
}

/* Link styling */
a {
    text-shadow: var(--text-primary-shadow-color) 0px 0px 2px;
}

/* Heading styling */
h1, h2, h3 {
    color: var(--text-primary-color);
}

/* Body styling */
body {
    line-height: 1.6;
    background-color: var(--background-color);
}

/* Unordered list styling */
ul{
    list-style-type: disc;
    padding-left: 30px;
}

/* Section styling */
section {
    margin: 5px;
    padding: 10px;
}
section a {
    color: var(--primary-color);
}
section h2 {
    margin-top: 0;
}

/* Header styling */
header {
    z-index: 1000;
    position: fixed;
    background-color: var(--header-color);
    color: var(--text-primary-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    padding: 0;
    top: 0;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
}
header div {
    display: flex;
    align-items: center;
}
header div a {
    color: var(--text-primary-color);
    text-decoration: none;
    margin: 0 10px;
}
header div a:hover {
    text-decoration: underline;
}
.primary-link {
    background-color: var(--primary-color);
    padding: 8px 10px;
    border-radius: 0px;
}
.secondary-link {
    background-color: var(--accent-color);
    padding: 8px 10px;
    border-radius: 0px;
}

/* Footer styling */
footer {
    position: relative;
    background-color: var(--header-color);
    text-align: center;
    padding: 8px 0;
    bottom: 0;
    width: 100%;
}

/* Margins for text and any content within a section */
.content {
    max-width: 60%;
    margin: 0 auto;
}

/* Home section styling */
#home {
    margin-top: 30px;
    margin-bottom: -2px;
    padding: 0;
    border: 0;
}
#home img {
    width: 100%;
    height: auto;
    max-height: 50vh;
    object-fit: cover;
}

/* Project section styling */
.grid-display {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    margin-top: 20px;
    gap: 40px;
}
.grid-image {
    transition: transform 0.2s ease-in-out;
    border-radius: 2%;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-style: solid;
    border-color: var(--background-primary-color);
    border-width: 4px;
}
.grid-image:hover {
    transform: scale(1.02);
}


/* Mobile settings */
@media (max-aspect-ratio: 1 / 1) {
    hr {
        max-width: 80%;
    }
    .content {
        max-width: none;
        margin: 0 5%;
    }
    .nav-right-content {
        display: none;
    }
    .grid-display {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-display p {
        display: none;
    }
}