/* File behavior */
html{
    scroll-behavior: smooth;
}

/* Reset some default styles */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Font sizing */
p{
    font-size: medium;
}

/* Body styling */
body {
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 5px;
}

/* Anchor settings for good scroll */
.anchor{
    position: relative;
    top: -40px;
}

/* Section styling */
section {
    margin-bottom: 10px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

section a{
    color: rgb(0, 175, 155);
}

section h2 {
    margin-top: 0;
}

section ul{
    list-style-type: disc;
    padding-left: 30px;
}

/* Footer styling */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

/* Header styling */
header {
    background-color: #333;
    color: #fff;
    padding: 0px 0;
    top: 0;
    text-align: center;
    margin-bottom: 20px;
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

/* Navigation header styling */
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
}

header nav h1 {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 40%;
}

header div {
    display: flex;
}

header div a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

header div a:hover {
    text-decoration: underline;
}

@media (max-aspect-ratio: 1.2 / 1){
    header h1{
        display: none;
    }
}

/* Specific section styling */
#home {
    margin-top: 30px;
    margin-bottom: -2px;
    padding: 0;
    border: 0;
    background-color: #f4f4f4;
}

#home img{
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
}

#projects img{
    max-width: 100%;
    aspect-ratio: 1 / 1;
}

#projects .project-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
    gap: 40px;
    padding: 0px;
}

@media (max-aspect-ratio: 1 / 1) {
    #projects .project-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    #projects .project-grid p{
        display: none;
    }
}

#about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#about img{
    max-height: 300px;
    object-fit: cover;
    width: 80%;
    float: right;
}